@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

:root {
  --font-sans: 'Lato', sans-serif;
}

body {
  background-color: #222;
}
